.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 80;
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.98);
  // min-height: 70px;
  top: -100px;
  padding: var(--space-sm);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  .name{
    display: flex;
    align-items: center;
    img { 
      margin-right: var(--space-sm);
    }
    span {
      color : var(--text-color);
      font-weight: 700;
    }
  }
  a {
    display: inline-block;
    padding: var(--space-sm) ;
    // font-size: var(--text-xs);
    // font-size: var(--text-sm);
    color: var(--color-gray);
    border-bottom: var(--border-width) dotted transparent;
  }
  a:hover {
    color: var(--color-black);
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: var(--space);

    a {
      padding: var(--space-sm) var(--space);
      font-size: var(--text-base);
    }
  }
}