.container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link {
  padding: var(--space-sm) var(--space-sm);
  border-radius: var(--border-radius);
  font-weight: 500;
  cursor: pointer;
  transition: .2s;
  background-color: var(--color-white);
  margin-left: var(--space-xs);
  &:hover {
    background-color: var(--color-gray-lightest);
  }
  svg {
    height: 16px;
  }
}
.link:hover {
  opacity: 1;
}
