@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slideIn {
  animation-name: slideIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.slideOut {
  animation-name: slideOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes slideIn {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
@keyframes slideOut {
  to {
    top: -100px;
  }
  from {
    top: 0px;
  }
}
