@import 'utilities';

:root {
  --space-xl: 2rem;
  --space-lg: 1.5rem;
  --space: 1rem;
  --space-sm: 0.5rem;
  --space-xs: 0.25rem;
  --border-width: 2px;

  --color-black: #121212;
  --color-gray-dark: #464646;
  --color-gray: #a5a5a5;
  --color-gray-light: #e5e5e5;
  --color-gray-lightest: #f0f0f0;
  --color-white: #fff;

  --color-blue : #0070F3;
  --color-blue-light : #CCE2FD;
  --color-red : #FF5B4F;
  --color-red-light : #FFDEDC;
  --color-green : #22CC52;
  --color-green-light : #D3F5DC;
  --color-yellow : #FFBD2E;
  --color-yellow-light : #FFF2D5;
  --color-purple : #D400FF;
  --color-purple-light : #FBE6FF;
  --color-teal : #11DDEA;
  --color-teal-light : #E7FCFD;

  --primary-color: var(--color-blue);
  --primary-color-light: var(--color-blue-light);
  --bg-color: var(--color-white);
  --text-color: var(--color-gray-dark);

  --border-radius : 4px;
  --border-radius-lg : 8px;

  --text-xl : 3rem;
  --text-lg : 1.35rem;
  --text-base : 1rem;
  --text-sm : .85rem;

}
::-moz-selection {
  /* Code for Firefox */
  color: var(--color-gray);
  background: whitesmoke;
}

::selection {
  color: var(--color-gray);
  background: whitesmoke;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


* {
  box-sizing: border-box;
}

#root {
  max-width: 1080px;
  width: calc(100% - calc(var(--space-xl) * 2 ) );
  margin: auto;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
  display: grid;
  min-height: 100vh;
  gap: calc(var(--space-xl) * 2 );
  grid-template-areas: 
    'header header'
    'aside main'
    'footer footer'
  ;
  grid-template-columns: minmax(230px,30%) 1fr;
  grid-auto-rows: auto 1fr auto;
 
}



// LAYOUT 
header , #header--fixed{
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: inline-block;
    padding: var(--space-sm) var(--space);
    color: var(--color-gray);
    border-bottom : var(--border-width) dotted transparent;
  }
  a:hover {
    color: var(--color-black);
    //  border-bottom: var(--border-width) solid var(--color-gray);
  }
}
#header--fixed {
  z-index: 80;
  position: fixed;
  // top: 0;
  left:0; right:0; 
  background-color: white;
  min-height: 70px;
  top: -100px;
  box-shadow: 0px 2px 10px rgba(0,0,0,.03);
}
.slideIn { 
  animation-name: slideIn; 
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.slideOut { 
  animation-name: slideOut; 
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes slideIn {
  from { top: -100px; }
  to {top: 0px}
}
@keyframes slideOut {
  to { top: -100px; }
  from {top: 0px}
}
aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-between;
  img {
    transition: .2s ease-out;
    flex-shrink: 0;
    position: relative;
    left: calc( var(--space-lg) * -1 );
  }
}
main {
  grid-area: main;
}
footer {
  text-align: center;
  grid-area: footer;

}



// TYPOGRAPHY
h1,h2,h3,h4,h5,h6{
  letter-spacing: -0.05rem;
  font-weight: normal;
}
h1{
  padding-top: var(--space-lg);
  font-weight: 800;
  font-size: var(--text-xl);
}
h2{
  padding-top: var(--space-lg);
  font-weight: 700;
  font-size: var(--text-lg);
}
p{
  // &::first-line{ color: var(--color-gray) }
  letter-spacing: 0.01rem;
  line-height: 1.7em;
}
abbr{
  border-bottom: 2px dotted var(--color-gray);
  font-weight: 500;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover{
    color : var(--primary-color);
  }
}
img {
  border-radius: var(--border-radius);

}
ul.projects__list , ul.repos__list {
  list-style-type: none;
  padding: 0;
  li {
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius-lg);
    align-items: center;
    margin-bottom: var(--space);
    padding: var(--space) var(--space);
    border: 1px solid var(--color-gray-lightest);
    box-shadow: 0px 0px 0px transparent;
    transition: border .3s, box-shadow .1s, opacity .2s;
    cursor: pointer;
    &:hover{
      border : 1px solid transparent;
      box-shadow: 0px 0px 15px var(--color-gray-light);
      opacity: .9;
    }
  }
}


.web {
  margin-left: var(--space-lg);
  border:var(--border-width) solid var(--gray-light)!important;
  border-bottom-width: calc( var(--border-width) * 3 )!important;
}
.back__link{
  color : var(--color-gray);
  padding: var(--space-sm);
  background-color:var(--gray-light);
  display: inline-block;
}




// components
button {
  border: 0;
  font-size: unset;
  padding: var(--space-sm) var(--space);
  border-radius: var(--border-radius);
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow .1s, opacity .3s;
  &.button--primary {
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 3px 15px var(--color-blue-light);
  }
  
  &:hover{
    box-shadow: 0px 3px 5px var(--color-blue-light);

    opacity: .8;
  }
  svg {
    width: 13px;
    height: 13px;
    color: var(--color-blue-light);
  }
}
// components
.badge {
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--border-radius);
  font-weight: 500;
  cursor: pointer;
  transition: opacity .1s;

  &:hover{
    opacity: .8;
  }
}