@import 'utilities';
@import 'animations';

:root {
  --space-xl: 2rem;
  --space-lg: 1.5rem;
  --space: 1rem;
  --space-sm: 0.5rem;
  --space-xs: 0.25rem;
  --border-width: 2px;

  --color-black: #121212;
  --color-gray-dark: #464646;
  --color-gray: #a5a5a5;
  --color-gray-light: #e5e5e5;
  --color-gray-lightest: #f0f0f0;
  --color-white: #fff;

  --color-blue: #0070f3;
  --color-blue-light: #cce2fd;
  --color-red: #ff5b4f;
  --color-red-light: #fce6e5;
  --color-orange: rgb(255, 145, 0);
  --color-orange-light: rgb(252, 225, 207);
  --color-green: #22cc52;
  --color-green-light: #dbf3e1;
  --color-yellow: #ffbd2e;
  --color-yellow-light: #fff2d5;
  --color-purple: #b434e7;
  --color-purple-light: #fbe6ff;
  --color-teal: #15d0dd;
  --color-teal-light: #e7fcfd;

  --color-pink: #fd51a1;
  --color-pink-light: rgb(250, 233, 245);



  --primary-color: var(--color-blue);
  --primary-color-light: var(--color-blue-light);
  --bg-color: var(--color-white);
  --text-color: var(--color-gray-dark);

  --border-radius: 4px;
  --border-radius-lg: 8px;

  --text-xl: 3rem;
  --text-lg: 1.35rem;
  --text-base: 1rem;
  --text-sm: 0.85rem;
  --text-xs: 0.72rem;
}
::-moz-selection {
  /* Code for Firefox */
  color: var(--color-gray);
  background: whitesmoke;
}

::selection {
  color: var(--color-gray);
  background: whitesmoke;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  grid-template-areas:
    'header header'
    'aside aside'
    'main main'
    'footer footer';
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  min-height: auto;
  width: calc(100% - calc(var(--space-xl) * 2));
  margin: auto;
  gap: var(--space-sm);
}
@media screen and (min-width: 768px) {
  #root {
    max-width: 1080px;
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
    display: grid;
    min-height: 100vh;
    gap: calc(var(--space-xl) * 2);
    grid-template-areas:
      'header header'
      'aside main'
      'footer footer';
    grid-template-columns: minmax(230px, 30%) 1fr;
    grid-auto-rows: auto 1fr auto;
  }
}

hr {
  border: 0;
  border-bottom: var(--border-width) solid var(--color-gray-light);
}

main {
  grid-area: main;
  // border:1px solid red;
}
footer {
  text-align: center;
  // border:1px solid blue;
  grid-area: footer;
}

// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.05rem;
  font-weight: normal;
}
h1 {
  padding-top: var(--space-lg);
  font-weight: 800;
  font-size: var(--text-xl);
  // font-size: calc(3vw + 3vh + .3rem);;
}
@media screen and (min-width: 768px) {
  h1 {
    margin-top: 0;
    padding-top: 0;
  }
}
h2 {
  padding-top: var(--space-lg);
  font-weight: 700;
  font-size: var(--text-lg);
}
p {
  // &::first-line{ color: var(--color-gray) }
  letter-spacing: -0.03em;
  line-height: 1.7em;
}
abbr {
  border-bottom: 2px dotted var(--color-gray);
  font-weight: 500;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: var(--primary-color);
  }
}
img {
  border-radius: var(--border-radius);
}

.web {
  margin-left: var(--space-lg);
  border: var(--border-width) solid var(--gray-light) !important;
  border-bottom-width: calc(var(--border-width) * 3) !important;
}
.back__link {
  color: var(--color-gray);
  padding: var(--space-sm);
  background-color: var(--gray-light);
  display: inline-block;
}

// components
button {
  border: 0;
  font-size: unset;
  padding: var(--space-sm) var(--space);
  border-radius: var(--border-radius);
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.1s, opacity 0.3s;
  &.button--primary {
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 3px 15px var(--color-blue-light);
  }

  &:hover {
    box-shadow: 0px 3px 5px var(--color-blue-light);

    opacity: 0.8;
  }
  svg {
    width: 13px;
    height: 13px;
    color: var(--color-blue-light);
  }
}

#backdrop {
  position: fixed;
  z-index: 9;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  cursor: pointer;
  transition: 0.4s;
}
.backdrop__image {
  box-shadow: 0px 0px 15px var(--color-gray-light);
  border-radius: var(--border-radius-lg);
  transition: 0.4s;
  background-color: white;
  animation: fadeInUp 0.3s;
  max-height: 80vh;
  max-width: 80vw;
  border: var(--border-width) solid white;
}
